/*section*/
div.h1{
    font-size: 50px;
    text-align: center;
    color: green;
    text-shadow: 2px 3px 5px greenyellow;
    
}

.line {
    display: block;
}

.line::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 10px;
    margin-left: -160px;
}

.line::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 10px;
    margin-left: 12px;
}

.line::before, .line::after{
    border-bottom: 2px solid green ;
}

.section-product {
    width: 70%;
}

.product-type{
    margin: 2% 0 2% 0;
    padding-bottom: 5%;
}
.product{
    display: flex;
    flex-wrap: wrap;
    border-top: 5px solid green;
}
.product-frame{
    width: 21%;
    margin: 2%;
    background-color: white;
    overflow: hidden;
    margin-top: 1%;
    border: 1px solid rgba(0, 0, 0, 0.295);
}
.product img{
    width: 100%;
    height: 215px;
    transition: transform 0.5s;
}
.product img:hover{
    transform: scale(1.1);
}
.product-type-name{
    width: 20%;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(-30deg,#4caf50 0%, #cddc39 100%);
}
.product-type-name a{
    display: block;
    padding: 2%;
    color: green;
    font-size: large;
    font-weight: bold;
}
.product-type-name a:hover{
    border-radius: 10px 10px 0 0;
    background-color: greenyellow;
}
.product-type-name a:active{
    background-color: green;
    color: greenyellow;
}

.product-image{
    overflow: hidden;
}
.product-info{
    text-align: center;
    background-color: rgb(96, 221, 106);
    position: relative;
}

.product-info::before {
    content: "MUA NGAY";
    position: absolute;
    background-color: orange;
    width: 0;
    left: 0;
    height: 100%;
    text-align: center;
    line-height: 55px;
    font-size: 37px;
    color: white;
    transition: width ease-in-out 0.5s;
    overflow: hidden;
    cursor: pointer;
}

.product-info:hover::before {
    width: 100%;
}

.info-cost{
    font-size: 21px;
    color: red;
    font-weight: bolder;
}
.info-name{
    color: green;
    font-weight: bold;
}