/*section*/
.section-product {
    width: 70%;
}

.product-type{
    margin: 2% 0 2% 0;
    padding-bottom: 5%;
}
.product{
    display: flex;
    border-top: 5px solid green;
}
.product-frame{
    width: 30%;
    margin: auto;
    background-color: white;
    overflow: hidden;
    margin-top: 1%;
    border: 1px solid rgba(0, 0, 0, 0.295);
}
.product img{
    width: 100%;
    height: 215px;
    transition: transform 0.5s;
}
.product img:hover{
    transform: scale(1.1);
}
.product-type-name{
    width: 20%;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(-30deg,#4caf50 0%, #cddc39 100%);
}
.product-type-name a{
    display: block;
    padding: 2%;
    color: green;
    font-size: large;
    font-weight: bold;
}
.product-type-name a:hover{
    border-radius: 10px 10px 0 0;
    background-color: greenyellow;
}
.product-type-name a:active{
    background-color: green;
    color: greenyellow;
}

.product-image{
    overflow: hidden;
}
.product-info{
    padding: 2%;
    text-align: center;
    background-color: rgb(96, 221, 106);
}
.info-cost{
    font-size: 21px;
    color: red;
    font-weight: bolder;
}
.info-name{
    color: green;
    font-weight: bold;
}