.news{
    width: 30%;
    margin: 2% 0 0 2%;
}

.content-news{
    margin-bottom: 2%;
    height: 75px;
}

.news p {
    margin: 0 0 0 2%;
    font-size: small;
}

.news img{
    width: 20%;
}
